<form method="POST" action="{{ url }}" class="form-horizontal" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label class="col-sm-2 control-label">{{ form.title.label }}</label>
                <div class="col-sm-10">
                    {{ form.title(class='form-control',required='required',placeholder='Titre article') }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label">Contenu</label>
                <div class="col-sm-10">
                    {{ form.content(class='form-control summernote') }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                <label class="col-sm-2 control-label">Catégorie</label>
                <div class="col-sm-10">
                    <select name="category" id="category" class="form-control" required>
                        <option value=""> -- Catégorie article --</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if article is not undefined and category.id == article.category_id %} selected {% endif %}>{{ category.title }}</option>
                        {% endfor %}
                    </select>
                    {#  form.category(class='form-control',required='required', placeholder='Catégorie vidéo') #}
                </div>
            </div>
            {% if current_user.is_admin %}
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Etat</label>
                    <label for="published" class="minimal col-sm-10">
                        {{ form.published() }}
                        Publié(e)
                    </label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Position</label>
                    <label for="top" class="minimal col-sm-10">
                        {{ form.top() }}
                        A la une
                    </label>
                </div>
            {% endif %}
            <div class="form-group row">
                <label class="col-sm-2 control-label">{{ form.image.label }}</label>
                <div class="col-sm-10">
                    {{ form.image(class='form-control') }}
                </div>
            </div>
            {% if article is defined %}
                <div class="form-group row">
                    <label class="col-sm-2 control-label">&nbsp;</label>
                    <div class="col-sm-10">
                        <img class="img-responsive" src="{{ url_for('static',filename='upload/articles/'+article.image) }}" alt="{{ article.title }}">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="modal-footer text-left">
        <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Enregistrer</button>
        <a class="btn btn-default" href="{{ url_for('admin.articles') }}"><i class="fa fa-times"></i> Annuler</a>
    </div>
</form>