<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2&appId=286320751822252&autoLogAppEvents=1"></script>
<div class="fb-comments" data-href="{{ url }}" data-numposts="10"></div>