<footer class="footer_section section_wrapper section_wrapper">
    <div class="footer_top_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="text_widget footer_widget">
                        <div class="footer_widget_title"><h2>Agir avec nous</h2></div>

                        <div class="footer_widget_content">
                            Il a divisé les Guinéens en étant que le Président de certains d’entre eux et non celui de tous.
                            Alpha Condé n’est professeur de rien mais profiteur de tout et ce bonhomme n’a rien de bon.
                            Partager des publications, inviter vos amis, diffuser des infos...
                            Filmer ou photographier des faits.
                            Dénoncer tout ce qui nuit à la démocratie.
                            Penser à notre pays. Pas à notre individu
                        </div>
                    </div><!--text_widget-->
                </div><!--col-xs-3-->

                <div class="col-md-4">
                    <div class="footer_widget">
                        <iframe id="myframe" allowtransparency='true' frameborder='0' scrolling='no' src='//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/nondiguinee/&width=350&height=303&colorscheme=light&show_faces=false&show_border=false&stream=true&header=false' style='width: 100%;height: 190px;'></iframe>
                    </div>
                </div><!--col-xs-6-->

                <div class="col-md-4">
                    <div class="text_widget footer_widget">
                        <div class="footer_widget_title"><h2>Message administrateur</h2></div>
                        <img src="{{ asset('front/images/logo_footer.png') }}" title="{{ app_title }}" alt="auteur">
                        <div class="footer_widget_content">
                            Nondi Guinée est une plateforme d’alerte et de dénonciation de la mauvaise gouvernance, de l'injustice, de la discrimination....
                            en vue de susciter l’éveil de la conscience citoyenne et d'inciter le peuple à ne plus se laisser faire.
                            Il faut agir et maintenant.
                        </div>
                    </div>
                </div><!--col-xs-3-->
            </div><!--row-->
        </div><!--container-->
    </div><!--footer_top_section-->
    <a href="#" class="crunchify-top" style="display: block;"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        © Copyright 2016 - <span id="copyright_date">{{ 'now' |date('Y') }}</span>. Tout droit reservé par: <a href="https://ndalaba.com" title="Diallo Mamadou N'Dalaba" target="_blank">DMN</a>
                    </div>
                </div><!--col-xs-6-->
                <div class="col-md-4">
                    NONDI GUINÉE
                </div><!--col-xs-3-->
            </div><!--row-->
        </div><!--container-->
    </div><!--copyright-section-->
</footer>