{% set pages=pageRepository.findBy({'published':1}) %}
<header>
    <div class="container">
        <div class="top_ber">
            <div class="row">
                <div class="col-md-6">
                    <div class="top_ber_left" id="date_time">
                    </div><!--top_ber_left-->
                </div><!--col-md-6-->
                <div class="col-md-6">
                    <div class="top_ber_right">
                        <div class="top-menu">
                            <ul class="nav navbar-nav">
                                {% if is_granted("ROLE_USER") %}
                                    <li><a href="{{ path('admin_add_article') }}">Ajouter un article</a></li>
                                    <li><a href="{{ path('admin_home') }}">Administration</a></li>
                                {% else %}
                                    <li><a href="{{ path('login') }}">Se connecter</a></li>
                                    <li><a href="{{ path('front_register') }}">S'enregistrer</a></li>
                                {% endif %}
                            </ul>
                        </div><!--top-menu-->
                    </div><!--top_ber_left-->
                </div><!--col-md-6-->
            </div><!--row-->
        </div><!--top_ber-->

        <div class="header-section">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="{{ path('front_home') }}"><img style="height: 120px" class="img-responsive" src="{{ asset('front/images/logo.png') }}" alt="Logo Nondi Guinée"></a>
                    </div><!--logo-->
                </div><!--col-md-3-->

                <div class="col-md-6">
                    <div class="header_ad_banner">
                        <a href="#" title="Aurevoir le PRAC en 2020" target="_blank"><img style="/*height: 70px*/" class="img-responsive" src="{{ asset('front/images/bbprac_2020.jpg') }}" alt="BYE BYE LE PRAC"></a>
                    </div>
                </div><!--col-md-6-->
                <div class="col-md-3">
                    <div class="social_icon1">
                        <a class="icons-sm fb-ic" href="https://www.facebook.com/nondiguinee"><i class="fa fa-facebook"></i></a>
                        <!--Twitter-->
                        <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                        <!--Google +-->
                        <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                        <!--Linkedin-->
                        <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                        <!--Pinterest-->
                        <a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a>
                    </div> <!--social_icon1-->
                </div><!--col-md-3-->
            </div> <!--row-->
        </div><!--header-section-->
    </div><!-- /.container -->


    <nav class="navbar main-menu navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="offcanvas">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse sidebar-offcanvas">
                <ul class="nav navbar-nav">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li><a class="page-scroll" href="{{ path('front_home') }}">Accueil</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">DOSSIERS
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('front_articles',{cat_slug:'actualites'}) }}">ACTUALITES</a></li>
                            <li><a href="{{ path('front_articles',{cat_slug:'opinions'}) }}">OPINIONS</a></li>
                            <li><a href="{{ path('front_articles',{cat_slug:'divers'}) }}">FAITS DIVERS</a></li>
                        </ul>
                    </li>
                    {% for page in pages %}
                        <li>
                            <a class="page-scroll" href="{{ path('front_page',{slug:page.slug}) }}" title="{{ page.title }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a class="page-scroll" href="{{ path('front_contact') }}" title="Nous contacter">Nous contacter</a>
                    </li>
                </ul>
                <div class="pull-right">
                    <form class="navbar-form" role="search" action="{{ path('front_rechercher') }}">
                        <div class="input-group">
                            <input class="form-control" placeholder="Rechercher" name="q" type="text" value="{{ app.request.get('q') }}">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>