<section id="feature_news_section" class="feature_news_section section_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="feature_news_carousel">
                        <div id="featured-news-carousal" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active feature_news_item">
                                    <div class="item_wrapper">
                                        <div class="item_img">
                                            <img class="img-responsive" src="{{ asset('front/images/guinee.png') }}" alt="La Guinée">
                                        </div> <!--item_img-->
                                        <div class="item_title_date">
                                            <div class="news_item_title">
                                                <h2><a href="#"> STOP À LA MAUVAISE GOUVERNANCE</a></h2>
                                            </div>
                                        </div> <!--item_title_date-->
                                    </div>    <!--item_wrapper-->
                                    <div class="item_content" style="text-transform: uppercase">Gabegie, Injustice, Impunité, Détournement, Stop. Rejoignez nous. Tout le monde est important. Agissez et faites agir</div>
                                </div><!--feature_news_item-->

                                <div class="item feature_news_item">
                                    <div class="item_wrapper">
                                        <div class="item_img">
                                            <img class="img-responsive" src="{{ asset('front/images/marche.png') }}" alt="La Guinée en marche">
                                        </div> <!--item_img-->
                                        <div class="item_title_date">
                                            <div class="news_item_title">
                                                <h2><a href="#">NOTRE UNION LES AFFAIBLIT</a></h2>
                                            </div>
                                        </div> <!--item_title_date-->
                                    </div> <!--item_wrapper-->

                                    <div class="item_content" style="text-transform: uppercase">Médiocre, incapacité à comprendre, ils manipulent, se servent et sacrifient tout pour se maintenir au pouvoir.</div>

                                </div><!--feature_news_item-->

                                <!-- Left and right controls -->
                                <div class="control-wrapper">
                                    <a class="left carousel-control" href="#featured-news-carousal" role="button" data-slide="prev">
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    </a>
                                    <a class="right carousel-control" href="#featured-news-carousal" role="button" data-slide="next">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div><!--carousel-inner-->
                        </div><!--carousel-->
                    </div><!--feature_news_carousel-->
                </div><!--col-md-6-->

                <div class="col-md-6">
                    <div class="feature_news_static">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature_news_item">
                                    <div class="item active">
                                        <div class="item_wrapper">
                                            <div class="item_img">
                                                <img class="img-responsive" src="{{ asset('front/images/constitution.png') }}" alt="La constitution guinéenne">
                                            </div> <!--item_img-->
                                            <div class="item_title_date">
                                                <div class="news_item_title">
                                                    <h2><a href="{{ asset('front/files/constitution.pdf') }}" target="_blank" title="Constitution de la Guinée">TOUCHE PAS À MA CONSTITUTION.</a></h2>
                                                </div>
                                            </div><!--item_title_date-->
                                        </div> <!--item_wrapper-->
                                        <div class="item_content">Pas de manoeuvre pour te maintenir au pouvoir. On ne se laissera pas faire. </div>

                                    </div><!--item-->
                                </div><!--feature_news_item-->
                            </div>

                            <div class="col-md-6">
                                <div class="feature_news_item">
                                    {% for top in tops %}
                                    <div class="item active">
                                        <div class="item_wrapper">
                                            <div class="item_img">
                                                <img class="img-responsive" style="height: 366px; max-width: max-content;" src="{{ asset('upload/articles/'~top.image) }}" alt="{{ top.title }}">
                                            </div> <!--item_img-->
                                            <div class="item_title_date">
                                                <div class="news_item_title">
                                                    <h2><a href="{{ path('front_article',{'cat_slug':top.category.slug,slug:top.slug}) }}">{{ top.title }}</a></h2>
                                                </div>
                                            </div><!--item_title_date-->
                                        </div> <!--item_wrapper-->
                                        <div class="item_content">{{ top.getExtrait(100) }} </div>
                                    </div><!--item-->
                                    {% endfor %}
                                </div><!--feature_news_item-->
                            </div><!--col-xs-6-->
                        </div><!--row-->
                    </div><!--feature_news_static-->
                </div><!--col-md-6-->
            </div><!--row-->
        </div><!--container-->
    </section><!--feature_news_section-->