<section id="feature_video_item" class="feature_video_item section_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="feature_video_wrapper">
                    <div class="feature_video_title"><h2>Vidéos à la une</h2></div>
                    <div id="feature_video_slider" class="owl-carousel">
                        {% for video in videos %}
                            <div class="item">
                                <div class="video_thumb">
                                    <img src="https://img.youtube.com/vi/{{ video.getVideoId() }}/mqdefault.jpg" alt="{{ video.title }}">
                                </div>
                                <div class="video_info">
                                    <div class="video_item_title"><h3>
                                            <a href="{{ path('front_videos',{slug:video.slug}) }}" title="{{ video.title }}">{{ video.title }}</a>
                                        </h3></div><!--video_item_title-->
                                    <div class="item_meta">
                                        <a href="{{ path('front_videos',{slug:video.slug}) }}">{{ video.createdAt | date('d/m/Y') }}</a>
                                    </div><!--item_meta-->
                                </div><!--video_info-->
                            </div>
                        {% endfor %}
                    </div><!--feature_video_slider-->
                </div><!--col-xs-12-->
            </div><!--row-->
        </div><!--feature_video_wrapper-->
    </div><!--container-->
</section>