<header class="main-header">
    <!-- Logo -->
    <a href="{{ path('admin_home') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>N</b>G</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>ADMIN</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        {% if unreadMessage %}
                            <span class="label label-success">{{ unreadMessage | length }}</span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Vous avez {{ unreadMessage | length }} messages</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {% for unread_mail in unreadMessage %}
                                    <li><!-- start message -->
                                        <a href="{{ path('admin_messages_detail',{uid:unread_mail.uid}) }}">
                                            <div class="pull-left">
                                                <img src="{{ asset('upload/users/'~app.user.photo) }}" class="img-circle" alt="{{ app.user.name }}">
                                            </div>
                                            <h4>
                                                {{ unread_mail.name }}
                                                <small>
                                                    <i class="fa fa-clock-o"></i> {{ unread_mail.createdAt | date('d/m H:i') }}
                                                </small>
                                            </h4>
                                            <p>{{ unread_mail.subject }}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                                <!-- end message -->
                            </ul>
                        </li>
                        <li class="footer"><a href="{{ path('admin_messages') }}">Afficher tous les messages</a></li>
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('upload/users/'~app.user.photo) }}" class="user-image" alt="{{ app.user.name }}">
                        <span class="hidden-xs">{{ app.user.name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('admin_profils',{uid:app.user.uid}) }}" title="Membre depuis {{ app.user.createdAt | date('M Y') }}"><i class="fa fa-user-plus"></i> Modifier mon profil</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
    