{% extends "admin/base.html" %}
{% block title %} Membres {{ current_user.name }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (User header) -->
        <section class="content-header">
            <h1>
                Membres
                <small>Membres site</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('admin.home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Membres</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.html" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTE MEMBRES</h3>
                            <div class="box-tools pull-right">
                                {% if not show_all %}
                                    <span class="label label-danger">{{ users | length }} nouveaux Membres</span>
                                {% endif %}

                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding" style="">
                            <ul class="users-list clearfix">
                                {% for user in users %}
                                    <li>
                                        <img src="{{ url_for('static',filename='upload/users/'+user.photo) }}" alt="{{ user.name }}">
                                        <a class="users-list-name" href="{{ url_for('admin.edit_user',uid=user.uid) }}">{{ user.name }}</a>
                                        <span class="users-list-date">{{ user.email }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- /.users-list -->
                        </div>
                        {% if not show_all %}
                            <div class="box-footer text-center">
                                <a href="{{ url_for('admin.users',show_all=1) }}" class="uppercase">Afficher tous les membres</a>
                            </div>
                        {% else %}
                            <div class="box-footer clearfix">
                                <ul class="pagination pagination-sm no-margin pull-right">
                                    {% if prev_url %}
                                        <li><a href="{{ prev_url }}">«</a></li>
                                    {% endif %}
                                    {% if next_url %}
                                        <li><a href="{{ next_url }}">»</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}