{% extends 'admin/base.twig' %}
{% block title %} Courrier  {{ app_title }} {% endblock %}
{% block content %}
    <div class="content-wrapper" style="min-height: 946px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Courrier
        <small>{{unreadMessage | length}} nouveaux messages</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Courrier</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
      {% include "admin/messages/navigation.twig" %}
        <!-- /.col -->
        <div class="col-md-9">
          {{ form_start(form) }}

          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Ecrire un nouveau message</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                  {{ form_widget(form.email_to,{attr:{'class':'form-control','placeholder':'À:'}}) }}
              </div>
              <div class="form-group">
                  {{ form_widget(form.subject,{attr:{'class':'form-control','placeholder':'Sujet: '}}) }}
              </div>
              <div class="form-group">
                  {{ form_widget(form.message,{attr:{'class':'form-control summernote'}}) }}
              </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Brouillon</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Envoyer</button>
              </div>
              <a href="{{path('admin_messages')}}" class="btn btn-default"><i class="fa fa-times"></i> Annuller</a>
            </div>
            <!-- /.box-footer -->
          </div>
        {{ form_end(form) }}
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}