{% extends 'admin/base.twig' %}
{% block title %} Courrier  {{ app_title }} {% endblock %}
{% block content %}
    <div class="content-wrapper" style="min-height: 946px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Courrier
                <small>{{ unreadMessage|length }} nouveaux messages</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Courrier</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                {% include "admin/messages/navigation.twig" %}
                <!-- /.col -->
                <form action="{{ path('admin_messages') }}" class="form-inline">
                    <div class="col-md-9">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Boite de reception</h3>
                                <div class="form-group">
                                    <!--<label>Sélectionnez l’action groupée</label>-->
                                    <select name="todo" class="form-control">
                                        <option value="9999">Actions groupées</option>
                                        <option value="-1">Supprimer</option>
                                    </select>
                                    <input type="submit" name="doaction" id="doaction" class="btn btn-primary action" value="Appliquer">
                                </div>
                            </div>

                            <div class="box-body">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th>
                                                <div class="checkbox icheck">
                                                    <label>
                                                        <input type="checkbox" title="Tout sélectionner" id="select_all"/>
                                                    </label>
                                                </div>
                                            </th>
                                            <th>Nom</th>
                                            <th>Sujet</th>
                                            <th>Date</th>
                                        </tr>
                                        {% for email in messages %}
                                            <tr style="{% if not email.read %} font-weight:bold {% endif %}">
                                                <td>
                                                    <input type="checkbox" class="uid" value="{{ email.uid }}" name="uid[]"/>
                                                </td>
                                                <td class="mailbox-name">
                                                    <a href="{{ path('admin_messages_detail',{uid:email.uid}) }}">{{ email.name }}</a>
                                                </td>
                                                <td class="mailbox-subject">{{ email.subject }}
                                                </td>
                                                <td class="mailbox-date">{{ email.createdAt | date('d/M/Y') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer clearfix">
                                {% include "admin/inc/pagination.twig" %}
                            </div>
                        </div>
                        <!-- /. box -->
                    </div>
                </form>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}