<div class="col-md-3">
    <a href="{{path('admin_add_message')}}" class="btn btn-primary btn-block margin-bottom">Nouveau message</a>

    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Dossier</h3>

            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
                <li class="{% if app.request.pathInfo=='/admin/messages' %} active {% endif %}">
                    <a href="{{path('admin_messages')}}"><i class="fa fa-inbox"></i> Boite de reception
                        {% if unreadMessage | length %}
                            <span class="label label-primary pull-right">{{unreadMessage | length}}</span>
                        {% endif %}
                    </a>
                </li>
                <li><a href="{{path('admin_messages',{folder:'SENT'})}}"><i class="fa fa-envelope-o"></i> Envoyé</a></li>
                <li><a href="#"><i class="fa fa-file-text-o"></i> Brouillon</a></li>
                <li><a href="#"><i class="fa fa-trash-o"></i> Supprimé</a></li>
            </ul>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /. box -->

    <!-- /.box -->
</div>