{% extends "admin/base.twig" %}
{% block title %} Vidéos  {{ app_title }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Video header) -->
        <section class="content-header">
            <h1>
                Videos
                <small>Video dynamique</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Videos</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-7">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTE VIDEOS</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>Titre</th>
                                    <th>Categorie</th>
                                    <th>Vues</th>
                                    <th style="width: 90px">En ligne?</th>
                                    <th style="width: 90px">Action</th>
                                </tr>
                                {% for video in videos %}
                                    <tr>
                                        <td>
                                            <a href="{{ video.video }}" target="_blank" title="{{ video.title }}">{{ video.title }}</a>
                                        </td>
                                        <td>{{ video.category.title }}</td>
                                        <td>{{ video.vue }}</td>
                                        {% if video.published %}
                                            <td>
                                                <i class="fa fa-circle text-green"></i>
                                            </td>
                                        {% else %}
                                            <td>
                                                <i class="fa fa-circle text-red"></i>
                                            </td>
                                        {% endif %}
                                        <td>
                                            <a class="btn btn-primary btn-sm" href="{{ path('admin_edit_video',{uid:video.uid}) }}" title="{{ video.title }}"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-sm delete" title="Supprimer la video?" href="{{ path('admin_delete_video',{uid:video.uid}) }}"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </div>
                        <div class="box-footer clearfix">
                            {% include "admin/inc/pagination.twig" %}
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-5">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UNE VIDEO</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% include 'admin/videos/form.twig' %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}