{% extends "admin/base.twig" %}
{% block title %} Membres  {{ app_title }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (User header) -->
        <section class="content-header">
            <h1>
                Membres
                <small>Membres site</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Membres</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}
        <!-- Main content -->
        <form action="{{ path('admin_users') }}" class="form-inline">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">LISTE MEMBRES</h3>
                                <div class="box-tools pull-right">

                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <div style="margin: auto;width: 50%;">
                                    <div class="form-group">
                                        <!--<label>Sélectionnez l’action groupée</label>-->
                                        <select name="todo" class="form-control">
                                            <option value="9999">Actions groupées</option>
                                            <option value="-1">Supprimer</option>
                                            <option value="1">Activer</option>
                                            <option value="0">Desactiver</option>
                                        </select>
                                        <input type="submit" name="doaction" id="doaction" class="btn btn-primary action" value="Appliquer">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="email" value="{{ app.request.get('email') }}">
                                        <select name="active" class="form-control">
                                            <option value="">Etat</option>
                                            <option value="1" {% if app.request.get('active') == '1' %} selected {% endif %}>Activé</option>
                                            <option value="0" {% if app.request.get('active') == '0' %} selected {% endif %}>Non Activé</option>
                                        </select>
                                        <input type="submit" name="doaction" id="post-query-submit" class="btn btn-primary" value="Filtrer">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->


                            <div class="box-body">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th><input type="checkbox" title="Tout sélectionner" id="select_all"/></th>
                                            <th>Nom</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Facebook</th>
                                            <th>Photo</th>
                                            <th>Activé?</th>
                                        </tr>
                                        {% for user in users %}
                                            <tr>
                                                <td><input type="checkbox" name="uid[]" value="{{ user.uid }}"/></td>
                                                <td>
                                                    {{ user.name }}
                                                    <div class="row-actions">
                                                        <a style="color: #0e1555" href="{{ path('admin_edit_profil',{uid:user.uid}) }}" title="{{ user.name }}">Modifier</a> |
                                                        <a class="delete" style="color: #c70f0f;" title="Supprimer le membre?" href="{{ path('admin_delete_user',{uid:user.uid}) }}">Supprimer</a>
                                                    </div>
                                                </td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.phone }}</td>
                                                <td>
                                                    <a href="{{ user.facebook }}" target="_blank">{{ user.facebook }}</a>
                                                </td>
                                                <td>
                                                    <img src="{{ asset('upload/users/'~user.photo) }}" alt="{{ user.name }}" style="width:50px">
                                                </td>
                                                {% if user.activated %}
                                                    <td>
                                                        <i class="fa fa-circle text-green"></i>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <i class="fa fa-circle text-red"></i>
                                                    </td>
                                                {% endif %}

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer clearfix">
                                {% include "admin/inc/pagination.twig" %}
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.row -->
            </section>
        </form>
        <!-- /.content -->
    </div>
{% endblock %}