{% extends "admin/base.twig" %}
{% block title %} Accueil  {{ app_title }} {% endblock %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                TABLEAU DE BORD
                <small>D’un coup d’œil</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> ACCUEIL</a></li>
                <li class="active">Tableau de bord</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ articles }}</h3>
                            <p>Articles publiés</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-paper"></i>
                        </div>
                        <a href="{{ path('admin_articles') }}" class="small-box-footer">Details
                            <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ videos }}</h3>
                            <p>Vidéos publiés</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-videocam"></i>
                        </div>
                        <a href="{{ path('admin_videos') }}" class="small-box-footer">Details
                            <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>{{ users_activated }}</h3>
                                <p>Membres actifs</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="{{ path('admin_users') }}" class="small-box-footer">Details
                                <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>{{ pages }}</h3>
                                <p>Pages publiées</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="{{ path('admin_pages') }}" class="small-box-footer">Details
                                <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                {% endif %}

                <!-- ./col -->
            </div>
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable ui-sortable">
                    <div class="box box-info">
                        <div class="box-header ui-sortable-handle" style="cursor: move;">
                            <i class="fa fa-envelope"></i>
                            <h3 class="box-title">Article rapide</h3>
                            <!-- tools box -->
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                                    <i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            {% include 'admin/articles/edit_form.twig' %}
                        </div>
                    </div>
                </section>
                {% if is_granted('ROLE_ADMIN') %}
                    <section class="col-lg-5 connectedSortable ui-sortable">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">LISTE MEMBRES</h3>
                                <div class="box-tools pull-right">
                                    <span class="label label-danger">{{ users | length }} nouveaux Membres</span>

                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                        </tr>
                                        {% for user in users %}
                                            <tr>
                                                <td>{{ user.name }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.phone }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer text-center">
                                <a href="{{ path('admin_users') }}" class="uppercase">Afficher tous les membres</a>
                            </div>
                        </div>
                    </section>
                {% endif %}
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}