{% extends "admin/base.twig" %}
{% block title %} Catégories  {{ app_title }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Catégories
                <small>Articles et vidéos</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Catégories</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTE CATEGORIES</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>Titre</th>
                                        <th>slug</th>
                                        <th>Etat</th>
                                        <th>Action</th>
                                    </tr>
                                    {% for category in categories %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('admin_articles',{category:category.id,doaction:'Filtrer'}) }}"  title="{{ category.title }}">{{ category.title }}</a>
                                            </td>
                                            <td>{{ category.slug }}</td>

                                            {% if category.published %}
                                                <td>
                                                    <i class="fa fa-circle text-green"></i>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <i class="fa fa-circle text-red"></i>
                                                </td>
                                            {% endif %}
                                            <td>
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_edit_category',{uid:category.uid}) }}" title="{{ category.title }}"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-sm delete" title="Supprimer le categorie?" href="{{ path('admin_delete_category',{uid:category.uid}) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UNE CATÉGORIE</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% include 'admin/categories/form.twig' %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}