{{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
    <div class="form-group row">
        <label class="col-sm-2 control-label">Categorie</label>
        <div class="col-sm-10">
            {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>
    <div class="modal-footer text-left">
        <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Enregistrer</button>
        <a class="btn btn-default"  href="{{ path('admin_categories') }}"><i class="fa fa-times"></i> Annuler</a>
    </div>
{{ form_end(form) }}