{% extends "admin/base.html" %}
{% block title %} Pages {{ current_user.name }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Pages
                <small>Page dynamique</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('admin.home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Pages</li>
            </ol>
        </section>
     {% include "admin/inc/success_error.html" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-5">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTE PAGES</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>Titre</th>
                                    <th>Image</th>
                                    <th>Etat</th>
                                    <th>Action</th>
                                </tr>
                                {% for page in pages %}
                                    <tr>
                                    <td>
                                        <a href="{{ page.url }}" target="_blank" title="{{ page.title }}">{{ page.title }}</a>

                                        </td>
                                        <td><a href="{{url_for('static',filename=page.image)}}" target="_blank"><img width="50px" src="{{url_for('static',filename=page.image)}}" alt="{{ page.title }}"></a></td>
                                        {% if page.published %}
                                            <td>
                                                <span class="label label-success">Publié</span>
                                            </td>
                                        {% else %}
                                            <td>
                                                <span class="label label-danger">Brouillon</span>
                                            </td>
                                        {% endif %}
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="{{ url_for('admin.edit_page',uid=page.uid) }}" title="{{ page.title }}"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-default btn-sm delete" title="Supprimer la page?" href="{{url_for('admin.delete_page',uid=page.uid)}}"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-7">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UNE PAGE</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                        {% include 'admin/pages/form.html' %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}