<form class="form-horizontal" autocomplete="off" method="POST" action="{{path('admin_edit_password')}}">
                            
    <div class="form-group row">
        <label class="col-md-3 form-control-label">Mot de passe</label>
        <div class="col-md-9">
            <input type="password" name="password" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 form-control-label">Confirmation mot de passe</label>
        <div class="col-md-9">
            <input type="password" name="password_confirm" class="form-control"/>
        </div>
    </div>
    <div class="text-right">
        <input type="submit" class="btn btn-primary" value="Modifier">
    </div>
</form>