{% extends "admin/base.twig" %}
{% block title %} Actualités  {{ app_title }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Article header) -->
        <section class="content-header">
            <h1>
                Actualités
                <small>Liste articles</small>
                <a href="{{ path('admin_add_article') }}" class="btn btn-primary" style="margin-left: 20px"><i class="fa fa-plus"></i> Ajouter</a>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Articles</li>
            </ol>
        </section>

        {% include "admin/inc/success_error.twig" %}
        <form action="{{ path('admin_articles') }}" class="form-inline">
            <section class="content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="float:left">LISTE ACTUALITÉS</h3>
                                <div style="margin: 10px;float: right;">
                                    <div class="form-group">
                                        <!--<label>Sélectionnez l’action groupée</label>-->
                                        <select name="todo" class="form-control">
                                            <option value="9999">Actions groupées</option>
                                            <option value="-1">Supprimer</option>
                                            <option value="1">Publier</option>
                                            <option value="0">Dépublier</option>
                                            <option value="2">A la une</option>
                                            <option value="-2">Normale</option>
                                        </select>
                                        <input type="submit" name="doaction" id="doaction" class="btn btn-primary action" value="Appliquer">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="title" placeholder="titre actualite" value="{{ app.request.get('title') or "" }}">
                                        <select name="published" class="form-control">
                                            <option value="">Etat</option>
                                            <option value="1" {% if app.request.get('published') == '1' %} selected {% endif %}>Publiés</option>
                                            <option value="0" {% if app.request.get('published') == '0' %} selected {% endif %}>Non Publiés</option>
                                        </select>
                                        <select name="top" class="form-control">
                                            <option value="">position</option>
                                            <option value="1" {% if app.request.get('top') == '1' %} selected {% endif %}>Une</option>
                                            <option value="0" {% if app.request.get('top') == '0' %} selected {% endif %}>Normale</option>
                                        </select>
                                        <select name="category" id="category" class="form-control">
                                            <option value="">Selectionner une catégorie</option>
                                            {% for category in categories %}
                                                <option value="{{ category.id }}" {% if app.request.get('category') == category.id  %} selected {% endif %}>{{ category.title }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="submit" name="doaction" id="post-query-submit" class="btn btn-primary" value="Filtrer">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <th>
                                                <div class="checkbox icheck">
                                                    <label>
                                                        <input type="checkbox" title="Tout sélectionner" id="select_all"/>
                                                    </label>
                                                </div>
                                            </th>
                                            <th>Titre</th>
                                            <th>Auteur</th>
                                            <th>Categorie</th>
                                            <th>Vue</th>
                                            <th>En ligne?</th>
                                            <th>À la une?</th>
                                            <th>Date</th>
                                        </tr>
                                        {% for article in articles %}
                                            <tr>
                                                <td><input type="checkbox" class="uid" name="uid[]" value="{{ article.uid }}"/></td>
                                                <td>
                                                    <a href="{{ path('front_article',{'cat_slug':article.category.slug,slug:article.slug}) }}" style="font-weight: 600" target="_blank" title="{{ article.title }}">{{ article.title }}</a>
                                                    <div class="row-actions">
                                                        <a  style="color: #0e1555" href="{{ path('admin_edit_article',{uid:article.uid}) }}" title="{{ article.title }}">Modifier</a> |
                                                        <a class="delete" style="color: #c70f0f;" title="Supprimer l'article?" href="{{ path('admin_delete_article',{uid:article.uid}) }}">Supprimer</a>
                                                    </div>
                                                </td>
                                                <td><a href="{{ path('admin_profils',{uid:article.user.uid}) }}">{{ article.user.name }}</a></td>
                                                <td>{{ article.category.title }}</td>
                                                <td>{{ article.vue }}</td>
                                                {% if article.published %}
                                                    <td>
                                                        <i class="fa fa-circle text-green"></i>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <i class="fa fa-circle text-red"></i>
                                                    </td>
                                                {% endif %}
                                                {% if article.top %}
                                                    <td>
                                                        <i class="fa fa-circle text-green"></i>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <i class="fa fa-circle text-red"></i>
                                                    </td>
                                                {% endif %}
                                                <td>
                                                    {{ article.createdAt | date('d/m/Y') }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer clearfix">
                                {% include "admin/inc/pagination.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </section>
        </form>

        <!-- /.content -->
    </div>
{% endblock %}