{% extends 'front/base.twig' %}
{% block title %} {{ article.title }} | Nondi Guinée{% endblock %}
{% block ogtitle %}{{ article.title }} | Nondi Guinée{% endblock %}
{% block ogimage %}{{ app.request.getSchemeAndHttpHost() ~ asset('upload/articles/'~article.image) }}{% endblock %}
{% block ogurl %}{{ app.request.getSchemeAndHttpHost() ~ path('front_article',{'cat_slug':article.category.slug,slug:article.slug}) }}{% endblock %}
{% block ogdescription %}{{ article.getExtrait(300) }}{% endblock %}
{% block ogauthor %}{{ article.user.name }}{% endblock %}
{% block content %}
    <section id="feature_category_section" class="feature_category_section single-page section_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="single_content_layout">
                        {% if article is not null %}
                            <div class="item feature_news_item">
                                <div class="item_img">
                                    <img class="img-responsive" src="{{ asset('upload/articles/'~article.image) }}" alt="{{ article.title }}">
                                </div><!--item_img-->
                                <div class="item_wrapper">
                                    <div class="news_item_title">
                                        <h2><a href="#">{{ article.title }}</a></h2>
                                    </div>
                                    <div class="item_meta"><a href="#">{{ article.createdAt | date('d/m/Y') }}</a> par
                                        <a href="#">{{ article.user.name }}</a></div>

                                    <div class="single_social_icon">
                                        <a class="icons-sm fb-ic fb-share" data-url="{{app.request.getSchemeAndHttpHost() ~ app.request.pathInfo }}" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                        <!--Twitter-->
                                        <a class="icons-sm tw-ic tw-share" data-url="{{app.request.getSchemeAndHttpHost() ~ app.request.pathInfo }}" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                        <!--Google +-->
                                        <a class="icons-sm gplus-ic gplus-share" data-url="{{app.request.getSchemeAndHttpHost() ~ app.request.pathInfo }}" href="#"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>
                                        <!--Linkedin-->
                                        <a class="icons-sm li-ic li-share" data-url="{{app.request.getSchemeAndHttpHost() ~ app.request.pathInfo }}" href="#"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                                        {% if app.user and article.isAuthor(app.user) %}
                                            <a class="btn btn-default btn-sm" style="float: right;" href="{{ path('admin_edit_article',{uid:article.uid}) }}" title="{{ article.title }}"><i class="fa fa-pencil"></i> Modifier l'article</a>
                                        {% endif %}
                                    </div> <!--social_icon1-->
                                    <div class="item_content">
                                        {{ article.content | raw | nl2br}}
                                    </div><!--item_content-->

                                </div><!--item_wrapper-->
                            </div><!--feature_news_item-->
                            {% include "front/inc/fbcomment.twig" with {"url":app.request.getSchemeAndHttpHost() ~ path('front_article',{'cat_slug':article.category.slug,slug:article.slug})} %}
                        {% else %}
                            <h1 style="color:#000;text-align: center;margin: 14px 0;font-size: 40px;">Oups ... Erreur 404</h1>
                            <h2 style="text-align: center;margin-bottom: 14px;color: #4d4f50;">Désolé, mais la page que vous recherchez n'existe pas.</h2>
                        {% endif %}
                        <div class="single_related_news">
                            <div class="single_media_title"><h2>À lire aussi</h2></div>
                            <div class="media_wrapper">

                                {% for article in articles %}
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ path('front_article',{'cat_slug':article.category.slug, slug:article.slug}) }}">
                                                <img class="media-object" style="width: 80px" src="{{ asset('upload/articles/'~article.image) }}" alt="{{ article.title }}">
                                            </a>
                                        </div><!--media-left-->
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <a href="{{ path('front_article',{'cat_slug':article.category.slug, slug:article.slug}) }}" title="{{ article.title }}">{{ article.title }}</a>
                                            </h4>
                                            <div class="media_meta">
                                                <a href="{{ path('front_article',{'cat_slug':article.category.slug, slug:article.slug}) }}">{{ article.createdAt | date('d/m/Y') }}</a> par:<a href="#">{{ article.user.name }}</a>
                                            </div>
                                            <div class="media_content">
                                                {{ article.getExtrait(250) | raw }}
                                            </div><!--media_content-->
                                        </div><!--media-body-->
                                    </div><!--media-->
                                {% endfor %}
                            </div><!--media_wrapper-->
                        </div><!--single_related_news-->
                        <div class="ad">
                            <img class="img-responsive" src="{{ asset('front/images/img-single-ad.jpg') }}" alt="Chania">
                        </div>

                    </div><!--single_content_layout-->
                </div>

                <div class="col-md-3">
                    {% include 'front/inc/sidebar.twig' %}
                </div>
            </div>
        </div>
    </section>
    <script>
        var popupCenter = function (url, title, width, height) {
            var popupWidth = width || 640;
            var popupHeight = height || 320;
            var windowLeft = window.screenLeft || window.screenX;
            var windowTop = window.screenTop || window.screenY;
            var windowWidth = window.innerWidth || document.documentElement.clientWidth;
            var windowHeight = window.innerHeight || document.documentElement.clientHeight;
            var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2;
            var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
            var popup = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
            popup.focus();
            return true;
        };
        if (document.querySelector('.tw-share') != null) {
            document.querySelector('.tw-share').addEventListener('click', function (e) {
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(document.title) +
                    "&via=Nondi" +
                    "&url=" + encodeURIComponent(url);
                popupCenter(shareUrl, "Partager sur Twitter");
            });

            document.querySelector('.fb-share').addEventListener('click', function (e) {
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(url);
                popupCenter(shareUrl, "Partager sur facebook");
            });

            document.querySelector('.gplus-share').addEventListener('click', function (e) {
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://plus.google.com/share?url=" + encodeURIComponent(url);
                popupCenter(shareUrl, "Partager sur Google+");
            });

            document.querySelector('.li-share').addEventListener('click', function (e) {
                e.preventDefault();
                var url = this.getAttribute('data-url');
                var shareUrl = "https://www.linkedin.com/shareArticle?url=" + encodeURIComponent(url);
                popupCenter(shareUrl, "Partager sur Linkedin");
            });
        }
    </script>
{% endblock %}