<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Diallo Mamadou N'Dalaba">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,500" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('front/images/favico.png') }}">
    <title>{% block title %}Nondi Guinée{% endblock %}</title>
    <meta property="og:title" content="{% block ogtitle %}Nondi Guinée{% endblock %}"/>
    <meta property="og:image" content="{% block ogimage %}{{ app.request.getSchemeAndHttpHost() ~ asset('front/images/logo.png') }}{% endblock %}"/>
    <meta property="og:description" content="{% block ogdescription %}Justice et vérité en République de Guinée{% endblock %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{% block ogurl %}https://nondi.org{% endblock %}"/>
    <meta property="og:site_name" content="Nondi Guinée"/>
    <meta property="article:author" content="{% block ogauthor %}NONDI{% endblock %}"/>
    <meta property="article:publisher" content="https://www.facebook.com/nondiguinee"/>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/owl.carousel.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/owl.theme.default.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/offcanvas.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('front/css/style.css') }}">
    {% endblock %}

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body>
    <div id="main-wrapper">
        {% include "front/inc/header.twig" %}
        {% block content %}
        {% endblock %}
        {% include "front/inc/footer.twig" %}
    </div>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('front/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/owl.carousel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/script.js') }}"></script>
        <script type="text/javascript" src="{{ asset('front/js/offcanvas.min.js') }}"></script>
    {% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135732491-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135732491-1');
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6951959484464498",
    enable_page_level_ads: true
  });
</script>
</body>

</html>