{% extends 'front/base.twig' %}
{% block title %} Justice et vérité en Guinée | {{ app_title }}{% endblock %}
{% block content %}
     {% include 'front/inc/home_slide.twig' %}
     {% include 'front/inc/home_content.twig' %}
     {% include 'front/inc/home_video.twig' %}
{% endblock %}