{% extends 'front/base.twig' %}
{% block title %} {{ page.title }} | Nondi Guinée{% endblock %}
{% block ogtitle %}{{ page.title }} | Nondi Guinée{% endblock %}
{% block ogimage %}{{ app.request.getSchemeAndHttpHost() ~ asset('upload/pages/'~page.image) }}{% endblock %}
{% block ogurl %}{{ app.request.getSchemeAndHttpHost() ~ path('front_page',{slug:page.slug}) }}{% endblock %}
{% block ogdescription %}{{ page.getExtrait(300) }}{% endblock %}
{% block content %}
    <section id="feature_category_section" class="feature_category_section category_page section_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature_news_item category_item">
                                <div class="item">
                                    <div class="item_wrapper">
                                        <div class="item_img">
                                            <img class="img-responsive" src="{{ asset('upload/pages/'~page.image) }}" alt="{{ page.title }}">
                                        </div><!--item_img-->
                                        <div class="item_title_date">
                                            <div class="news_item_title">
                                                <h1><a href="#">{{ page.title }}</a></h1>
                                            </div><!--news_item_title-->
                                        </div><!--item_title_date-->
                                    </div><!--item_wrapper-->
                                    <div class="item_content" style="font-size: 17px;text-align: initial;line-height: 1.9em;">
                                        {{ page.content | raw | nl2br }}
                                    </div><!--item_content-->
                                </div><!--item-->
                            </div><!--feature_news_item-->
                        </div>
                    </div>
                    {% if page.uid=='9e59ea2965' %}
                        <div class="row">
                            {% for person in persons %}
                                <div class="col-md-6">
                                    <div class="feature_news_item">
                                        <div class="item">
                                            <div class="item_wrapper">
                                                <div class="item_img" style="height: 250px; overflow: hidden">
                                                    <img class="img-responsive" src="{{ asset('upload/persons/'~person.image) }}" alt="{{ person.name }}">
                                                </div> <!--item_img-->
                                                <div class="item_title_date">
                                                    <div class="news_item_title">
                                                        <h2><a href="{{ path('front_persons',{slug:person.slug}) }}" title="{{ person.name }}">{{ person.name }}</a></h2>
                                                    </div>
                                                </div><!--item_title_date-->
                                            </div> <!--item_wrapper-->
                                            <div class="item_meta">{{ person.fonction }}</div>
                                        </div><!--item-->
                                    </div><!--feature_news_item-->
                                </div><!--col-md-6-->
                            {% endfor %}
                        </div><!--row-->
                    {% endif %}
                    {% include "front/inc/fbcomment.twig" with {"url":app.request.getSchemeAndHttpHost() ~ path('front_page',{'slug':page.slug})} %}
                </div>
                <div class="col-md-3">
                    {% include 'front/inc/sidebar.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}