{% extends 'front/base.twig' %}
{% block title %} S'inscrire | Nondi Guinée{% endblock %}
{% block content %}
    <section id="feature_category_section" class="feature_category_section category_page section_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feature_news_item category_item">
                                <div class="item">
                                    <div class="item_wrapper">
                                        <div class="item_title_date" style="position: initial">
                                            <div class="news_item_title">
                                                <h1><a href="#" style="text-transform: uppercase">S'inscrire et Agir</a></h1>
                                            </div><!--news_item_title-->
                                        </div><!--item_title_date-->
                                    </div><!--item_wrapper-->
                                    <div class="item_content" style="font-size: 16px;line-height: 30px;">
                                        Nondi Guinée est une plateforme d’alerte et de dénonciation de la mauvaise gouvernance, de l'injustice, de la discrimination.... en vue de susciter l’éveil de la conscience citoyenne et d'inciter le peuple à ne plus se laisser faire. Il faut agir et maintenant.
                                        <h3>Vous voulez agir avec nous, vous avez des choses à dire, à montrer, inscrivez vous.</h3>
                                    </div><!--item_content-->

                                </div><!--item-->
                            </div><!--feature_news_item-->
                            <form class="form" method="post" action="{{ path('front_register') }}" id="register_form">
                                <h2>S'INSCRIRE</h2>
                                <div id="result"></div>
                                <p type="NOM:"><input id="name" name="name" required="required" type="text" value=""/></p>
                                <p type="EMAIL:"><input id="email" name="email" required="required" type="email" value=""/></p>
                                <p type="MOT DE PASSE:"><input id="password" name="password" required="required" type="password" value=""/></p>
                                <p type="COMPTE FACEBOOK:"><input id="facebook" name="facebook" required="required" type="text" value=""/></p>
                                <p type="TÉLEPHONE:"><input id="phone" name="phone" required="required" type="text" value=""/></p>
                                <p type="ADRESSE:"><input id="location" name="location" required="required" type="text" value=""/></p>
                                <button type="submit" id="submit_btn">Envoyer</button>
                                <div>
                                    <a href="{{ path('login') }}"><span class="fa fa-lock"></span> Déjà inscrit</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!--row-->
                <div class="col-md-3">
                    {% include 'front/inc/sidebar.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}