<footer class="footer_section section_wrapper section_wrapper">
    <div class="footer_top_section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="text_widget footer_widget">
                        <div class="footer_widget_title"><h2>Agir avec nous</h2></div>

                        <div class="footer_widget_content">
                            Il a divisé les Guinéens en étant que le Président de certains d’entre eux et non celui de tous.
                            Alpha Condé n’est professeur de rien mais profiteur de tout et ce bonhomme n’a rien de bon.
                            Partager des publications, inviter vos amis, diffuser des infos...
                            Filmer ou photographier des faits.
                            Dénoncer tout ce qui nuit à la démocratie.
                            Penser à notre pays. Pas à notre individu
                        </div>
                    </div><!--text_widget-->
                </div><!--col-xs-3-->

                <div class="col-md-3">
                    <div class="footer_widget">
                        <div class="footer_widget_title"><h2>Discover</h2></div>
					    <div class="footer_menu_item ">
						<div class="row">
							<div class="col-sm-12">
								<ul class="nav navbar-nav ">
									<li><a href="../navbar/">Baseball</a></li>
									<li><a href="../navbar-static-top/">Football</a></li>
									<li><a href="../navbar-static-top/">Football</a></li>
								</ul>
						    </div>
				      	</div><!--row-->
			      	</div><!--footer_menu_item-->
                    </div>
                </div><!--col-xs-6-->

                <div class="col-md-4">
                    <div class="text_widget footer_widget">
                        <div class="footer_widget_title"><h2>Message administrateur</h2></div>
                        <img src="{{ url_for('static',filename='front/images/auteur.jpg') }}" title="N'Dalaba Diallo" alt="auteur">
                        <div class="footer_widget_content">Collaborativelyadministrate empowered marketsplug-and-play networks. Dynamic procrastinate after.marketsplug-and-play networks. Dynamic procrastinate users after. Dynamic procrastinateafter. marketsplug-and-play networks. Dynamic procrastinate users after...</div>
                    </div>
                </div><!--col-xs-3-->
            </div><!--row-->
        </div><!--container-->
    </div><!--footer_top_section-->
    <a href="#" class="crunchify-top" style="display: block;"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        © Copyright 2019 - Tout droit reservé. Par: <a href="https://ndalaba.com" title="Diallo Mamadou N'Dalaba" target="_blank">DMN</a>
                    </div>
                </div><!--col-xs-6-->
                <div class="col-md-4">
                    NONDI GUINÉE
                </div><!--col-xs-3-->
            </div><!--row-->
        </div><!--container-->
    </div><!--copyright-section-->
</footer>