<div class="most_comment tab sitebar">
    <div class="sidebar_title">
        <h2>Les plus populaires</h2>
    </div>
    {% for article in populars %}
        <div class="media">
            <div class="media-left">
                <a href="#" style="width: 80px; height: 80px;overflow: hidden;display: inline-block;"><img class="media-object" style="height: 80px" src="{{ url_for('static',filename='upload/articles/'+article.image) }}" alt="{{ article.title }}"></a>
            </div><!--media-left-->
            <div class="media-body">
                <h3 class="media-heading"><a title="{{ article.title }}" href="{{ url_for('front.article',category=article.category.slug, slug=article.slug) }}">{{ article.title }}</a></h3>
                <div class="comment_box">
                    <div class="comments_icon"><i class="fa fa-comments" aria-hidden="true"></i></div>
                    <div class="comments"><a href="{{ url_for('front.article',category=article.category.slug, slug=article.slug) }}" title="{{ article.title }}">{{ article.vue }} Vues</a></div>
                </div><!--comment_box-->
            </div><!--media-body-->
        </div><!--media-->
    {% endfor %}
</div><!--most_comment-->

<div class="ad">
    <img class="img-responsive" src="{{ url_for('static',filename='front/images/model.jpg') }}" alt="Model guinée" style="width: 125px">
    <img class="img-responsive" src="{{ url_for('static',filename='front/images/model.jpg') }}" alt="Model guinée" style="width: 125px">
    <img class="img-responsive" src="{{ url_for('static',filename='front/images/model.jpg') }}" alt="Model guinée" style="width: 125px">
    <img class="img-responsive" src="{{ url_for('static',filename='front/images/model.jpg') }}" alt="Model guinée" style="width: 125px">
</div><!--ad-->

<div class="ad">
    <img class="img-responsive" src="{{ url_for('static',filename='front/images/faim_soif.jpg') }}" alt="img">
</div>

<div class="ad">
    <a href="https://www.guineemouv.org" title="Mouvement populaire pour le changement" target="_blank"><img class="img-responsive" src="https://www.guineemouv.org/images/logo.png" alt="MPLC"></a>
</div>
<div class="ad">
    <a href="http://www.ufdgonline.org/" title="Union des forces démocratiques de Guinée" target="_blank"><img class="img-responsive" src="{{ url_for('static',filename='front/images/ufdg.jpg') }}" alt="UFDG"></a>
</div>
