{% extends "admin/base.twig" %}
{% block title %} Personnes  {{ app_title }} {% endblock %}
{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Person header) -->
        <section class="content-header">
            <h1>
                Personnes
                <small>Personnes coupables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_home') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Personnes</li>
            </ol>
        </section>
        {% include "admin/inc/success_error.twig" %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-7">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTE PERSONNES</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Fonction</th>
                                        <th>Image</th>
                                        <th>En ligne?</th>
                                        <th>Action</th>
                                    </tr>
                                    {% for person in persons %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('front_persons',{slug:person.slug}) }}" target="_blank" title="{{ person.name }}">{{ person.name }}</a>
                                            </td>
                                            <td>{{ person.fonction }}</td>
                                            <td>
                                                <a href="{{ asset('upload/persons/'~person.image) }}" target="_blank"><img width="50px" src="{{ asset('upload/persons/'~person.image) }}" alt="{{ person.name }}"></a>
                                            </td>
                                            {% if person.published %}
                                                <td><i class="fa fa-circle text-green"></i></td>
                                            {% else %}
                                                <td><i class="fa fa-circle text-red"></i></td>
                                            {% endif %}
                                            <td>
                                                <a class="btn btn-primary btn-sm" href="{{ path('admin_edit_person',{uid:person.uid}) }}" title="{{ person.name }}"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-sm delete" title="Supprimer la personne?" href="{{ path('admin_delete_person',{uid:person.uid}) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-5">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">EDITION D'UNE PERSONNE</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% include 'admin/persons/form.twig' %}
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}