<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Diallo Mamadou N'Dalaba">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,500" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static',filename="images/logo.png") }}">
    <title>{% block title %}{% endblock %}</title>
    <meta property="og:title" content="{% block ogtitle %}Nondi Guinée{% endblock %}"/>
    <meta property="og:image" content="{% block ogimage %}{{ url_for('static',filename="images/logo.png") }}{% endblock %}"/>
    <meta property="og:description" content="{% block ogdescription %}Nondi Guinée{% endblock %}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://nondi.org"/>
    <meta property="og:site_name" content="Nondi Guinée"/>
    <meta property="article:author" content="N'Dalaba Diallo"/>
    <meta property="article:publisher" content="https://www.facebook.com/nondiguinee"/>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="front/css/bootstrap.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="front/css/font-awesome.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="front/css/owl.carousel.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="front/css/owl.theme.default.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="front/css/offcanvas.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="front/css/style.css") }}">
    {% endblock %}

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body>
    <div id="main-wrapper">
        {% include "front/inc/header.html" %}
        {% include "front/inc/footer.html" %}
    </div>
    {% block javascript %}
        <script type="text/javascript" src="{{ url_for('static',filename="front/js/jquery.min.js") }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename="front/js/bootstrap.min.js") }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename="front/js/owl.carousel.js") }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename="front/js/script.js") }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename="front/js/offcanvas.min.js") }}"></script>
    {% endblock %}
</body>

</html>