<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,">
    <title>{{ app_title }}</title>
    {% set domain = app.request.getSchemeAndHttpHost() %}
    {% if domain is empty %}
        {% set domain= "https://nondi.org" %}
    {% endif %}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

        html {
            width: 100%
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none
        }

        img {
            display: block !important;
            border: 0;
            -ms-interpolation-mode: bicubic
        }

        .ReadMsgBody {
            width: 100%
        }

        .ExternalClass {
            width: 100%
        }

        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%
        }

        .images {
            display: block !important;
            width: 100% !important
        }

        .MsoNormal {
            font-family: Open Sans, Arial, Helvetica Neue, Helvetica, sans-serif !important
        }

        p {
            margin: 0 !important;
            padding: 0 !important
        }

        .button td, .button a {
            font-family: Open Sans, Arial, Helvetica Neue, Helvetica, sans-serif !important
        }

        .button a:hover {
            text-decoration: none !important
        }

        @media only screen and (max-width: 640px) {
            body {
                width: auto !important
            }

            table[class=display-width] {
                width: 100% !important
            }

            table[class=nulltable] {
                display: none !important
            }

            .null {
                display: none !important
            }

            .hide-height {
                height: 0 !important
            }

            .common-height {
                height: 40px !important
            }

            .nomobile {
                display: none !important
            }

            .hide {
                display: none !important
            }

            .title-width-1 {
                width: 120px !important
            }

            td[class=title-width] {
                width: 100px !important
            }

            .remove-bar {
                display: none !important
            }

            .phone {
                width: 55% !important
            }

            .follow {
                width: 15px !important
            }
        }

        @media only screen and (max-width: 480px) {
            table[class=display-width] table {
                width: 100% !important
            }

            table[class=display-width] .button-width .button {
                width: auto !important
            }

            .menu {
                font-size: 12px !important
            }

            table[class=display-width] .phone {
                width: 55% !important
            }
        }

        @media only screen and (max-width: 350px) {
            table[class=display-width] .phone {
                width: auto !important
            }
        }
    </style>


</head>
<body marginwidth="0" marginheight="0"
      style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;"
      offset="0" topmargin="0" leftmargin="0">
<table width="75%" cellspacing="0" cellpadding="0" border="0" bgcolor="#333333" align="center" class="">

    <tbody>
    <tr>
        <td align="center">
            <table class="display-width" data-bgcolor="Header Menu BG" width="100%" cellspacing="0" cellpadding="0"
                   border="0" bgcolor="#f5f5f5" align="center">
                <tbody>
                <tr>
                    <td style="padding:0 30px;" align="center">
                        <table class="display-width" width="90%" cellspacing="0" cellpadding="0" border="0"
                               align="center">
                            <tbody>
                            <tr>
                                <td height="15"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table class="display-width" width="100%" cellspacing="0" cellpadding="0" border="0"
                                           align="center">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table class="display-width"
                                                       style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                                                       width="25%" cellspacing="0" cellpadding="0" border="0"
                                                       align="left">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="middle" align="center">
                                                            <a href="{{ domain }}"
                                                               style="color:#000000;text-decoration:none;"
                                                               data-color="Website">
                                                                <img src="{{ domain ~ '/front/images/logo.png' }}" alt="Logo {{ app_title }}" width="150">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                                                       width="1" cellspacing="0" cellpadding="0" border="0"
                                                       align="left">

                                                    <tbody>
                                                    <tr>
                                                        <td style="line-height:20px;" width="1" height="20"></td>
                                                    </tr>

                                                    </tbody>
                                                </table>

                                                <table class="display-width"
                                                       style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                                                       width="70%" cellspacing="0" cellpadding="0" border="0"
                                                       align="right">
                                                    <tbody>
                                                    <tr>
                                                        <td align="right">
                                                            <table class="display-width" width="100%" cellspacing="0"
                                                                   cellpadding="0" border="0" align="center">
                                                                <tbody>
                                                                <tr>
                                                                    <td class="hide-height" height="15"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center">
                                                                        <table style="width:auto !important;"
                                                                               width="100%" cellspacing="0"
                                                                               cellpadding="0" border="0"
                                                                               align="center">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <table class="display-width"
                                                                                           style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;width:auto;"
                                                                                           width="49%" cellspacing="0"
                                                                                           cellpadding="0" border="0"
                                                                                           align="left">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td align="center">
                                                                                                <table class="display-width"
                                                                                                       style="width:auto !important;"
                                                                                                       width="100%"
                                                                                                       cellspacing="0"
                                                                                                       cellpadding="0"
                                                                                                       border="0"
                                                                                                       align="center">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td width="30"
                                                                                                            valign="middle"
                                                                                                            align="left">
                                                                                                            <img src="{{ domain ~ '/front/images/web.png' }}"
                                                                                                                 alt="20x20x1"
                                                                                                                 width="20">
                                                                                                        </td>
                                                                                                        <td class="MsoNormal menu"
                                                                                                            style="color:#000000;font-family:'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:13px;font-weight:600;letter-spacing:1px;"
                                                                                                            valign="middle"
                                                                                                            align="left">
                                                                                                            <a href="{{ domain }}"
                                                                                                               alt="{{ app_title }}"
                                                                                                               title="lien vers {{ app_title }}"
                                                                                                               style="color:#000000;text-decoration:none;">
                                                                                                                {{ path('front_home') }}
                                                                                                            </a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>

                                                                                    <table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;mso-hide:all;"
                                                                                           width="1" cellspacing="0"
                                                                                           cellpadding="0" border="0"
                                                                                           align="left">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td style="line-height:10px;"
                                                                                                height="10"></td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>

                                                                                    <table class="display-width"
                                                                                           style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;width:auto;"
                                                                                           width="50%" cellspacing="0"
                                                                                           cellpadding="0" border="0"
                                                                                           align="right">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td align="center">
                                                                                                <table class="phone"
                                                                                                       style="width:auto;"
                                                                                                       width="100%"
                                                                                                       cellspacing="0"
                                                                                                       cellpadding="0"
                                                                                                       border="0"
                                                                                                       align="center">
                                                                                                    <tbody>
                                                                                                    <tr>

                                                                                                        <td class="remove-bar"
                                                                                                            width="25"></td>
                                                                                                        <td width="30"
                                                                                                            valign="middle"
                                                                                                            align="left">
                                                                                                            <img src="{{ domain ~ '/front/images/phone.png' }}"
                                                                                                                 alt="Phone"
                                                                                                                 width="20">
                                                                                                        </td>
                                                                                                        <td class="MsoNormal menu"
                                                                                                            style="color:#000000;font-family:'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:13px;font-weight:600;letter-spacing:1px;text-transform:capitalize;"
                                                                                                            valign="middle"
                                                                                                            align="left">
                                                                                                            {{ app_email }}
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="hide-height" height="15"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="15"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    </tbody>
</table>
<br><br>
<table width="75%" cellspacing="0" cellpadding="0" border="0" align="center" class="">
    <tbody>
    <tr>
        <td>
           {{ message | raw }}
            <br><br> <br>
            <p>L'équipe {{ app_title }}</p>
            <br>
            ---------------
            <br>
            Ceci est un mail automatique, Merci de ne pas y répondre.;
            <br><br><br>
        </td>
    </tr>
    </tbody>
</table>

<table width="75%" cellspacing="0" cellpadding="0" border="0" bgcolor="#333333" align="center" class="">
    <tbody>
    <tr>
        <td align="center">
            <table class="display-width" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                <tr>
                    <td align="center">
                        <table class="display-width" width="100%" cellspacing="0" cellpadding="0" border="0"
                               bgcolor="#f5f5f5" align="center">
                            <tbody>
                            <tr>
                                <td style="padding:0 30px;" align="center">
                                    <table class="display-width" width="90%" cellspacing="0" cellpadding="0" border="0"
                                           align="center">
                                        <tbody>
                                        <tr>
                                            <td align="center">
                                                <table class="display-width" width="100%" cellspacing="0"
                                                       cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>

                                                            <!-- TABLE LEFT -->

                                                            <table class="display-width"
                                                                   style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;width:auto;"
                                                                   width="43%" cellspacing="0" cellpadding="0"
                                                                   border="0" align="left">

                                                                <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <table class="display-width"
                                                                               style="width:auto !important;"
                                                                               width="100%" cellspacing="0"
                                                                               cellpadding="0" border="0"
                                                                               align="center">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td class="MsoNormal"
                                                                                    style="color:#000000;font-family:'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:14px;letter-spacing:1px;line-height:24px;"
                                                                                    align="left">
                                                                                    Copyright ©
                                                                                    2017-{{ "now"|date("Y") }}, {{ app_title }}
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                                </tbody>
                                                            </table>

                                                            <table style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"
                                                                   width="1" cellspacing="0" cellpadding="0" border="0"
                                                                   align="left">

                                                                <tbody>
                                                                <tr>
                                                                    <td style="line-height:20px;" width="1"
                                                                        height="20"></td>
                                                                </tr>

                                                                </tbody>
                                                            </table>

                                                            <!-- TABLE RIGHT -->

                                                            <table class="display-width"
                                                                   style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;width:auto;"
                                                                   width="37%" cellspacing="0" cellpadding="0"
                                                                   border="0" align="right">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="center">
                                                                        <table class="display-width"
                                                                               style="width:auto !important;"
                                                                               cellspacing="0" cellpadding="0"
                                                                               border="0" align="center">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td class="MsoNormal"
                                                                                    style="color:#000000;font-family:'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:14px;letter-spacing:1px;line-height:24px;"
                                                                                    data-color="Follow Us"
                                                                                    data-size="Follow Us" data-min="10"
                                                                                    data-max="26" align="left">

                                                                                </td>
                                                                                <td class="follow" width="20">
                                                                                    &nbsp;
                                                                                </td>
                                                                                <td align="left">
                                                                                    <a href="https://twitter.com/"
                                                                                       style="color:#000000;text-decoration:none;"
                                                                                       data-color="Follow Us">
                                                                                        <img src="{{ domain ~ '/front/images/twitter.png' }}"
                                                                                             alt="Twitter" width="25">
                                                                                    </a>
                                                                                </td>
                                                                                <td width="10">&nbsp;</td>
                                                                                <td align="left">
                                                                                    <a href="https://www.facebook.com/nondiguinee"
                                                                                       style="color:#000000;text-decoration:none;">
                                                                                        <img src="{{ domain ~ '/front/images/facebook.png' }}"
                                                                                             alt="Facebook" width="25">
                                                                                    </a>
                                                                                </td>
                                                                                <td width="10">&nbsp;</td>
                                                                                <td align="left">
                                                                                    <a href="https://plus.google.com/"
                                                                                       style="color:#000000;text-decoration:none;">
                                                                                        <img src="{{ domain ~ '/front/images/gplus.png' }}"
                                                                                             alt="Google plus"
                                                                                             width="25">
                                                                                    </a>
                                                                                </td>
                                                                                <td width="10">&nbsp;</td>
                                                                                <td align="left">
                                                                                    {% if newsletter is defined %}

                                                                                        <a href=""
                                                                                           style="color:#000000;text-decoration:none;"
                                                                                           target="_blank">Se désabonner</a>

                                                                                    {% endif %}
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
